@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

body {
  margin: 0px; 
  border: 0px; 
  padding: 0px; 
  box-sizing: border-box; 
  font-family: 'Raleway', sans-serif;  
  background-color: #f6f6f6;
  overflow-x: hidden;
}

button {
  border: none; 
  background-color: #7B1FA2; 
  color: white; 
  font-family: 'Raleway', sans-serif; 
  font-size: 15px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.center {
  max-width: 1110px;
  margin: auto;
}

#header {
  top: 0;
  position: fixed;
  background-color: #7B1FA2; 
  padding-top: 8px; 
  padding-bottom: 8px;
  height: 44px; 
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#logo {
  height: 45px; 
  width: 193px;
}

.container-logo {
  justify-content: center;
  align-items: center;
}

.container-login {
  flex: 1;
  padding-left: 5px;
}

.container-login button.login {
  background: #00A296;
  width: 100px;
  height: 45px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  outline: 0;
}

button.login:hover,
button.logout:hover {
  cursor: pointer;
}

.container-logout {
  display: none;
  flex: 1;
  padding-left: 5px;
}

.container-logout button.logout {
  background: #00A296;
  width: 100px;
  height: 45px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  outline: 0;
}

.empty {
  flex: 1;
}

#main {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 80px; 
}

.banner {
  background-image: url("../assets/img/home_background.png"); 
  height: 273px; 
  width: 1110px; 
  background-position: center;
  background-size: cover; 
  padding-top: 60px;
}

.bannerText {
  color: white; 
  text-align: center;
}

.containerText {
  width: 525px; 
  text-align: center; 
  padding-left: 27%; 
  padding-top: 3.5%;
}

.bannerButton {
  height: 21px; 
  width: 499px; 
  padding-top: 6px; 
  padding-bottom: 6px; 
  padding-left: 12px; 
  padding-right: 12px;
  border: 1px solid #7B1FA2; 
  background-color: #7B1FA2 ; 
  border-radius: 6px; 
  margin-top: 15%;
}

.bannerButton:hover {
  cursor: pointer;
}

.bannerButton button {
  outline: 0;
}

.bannerButton button:hover {
  cursor: pointer;
}

.bannerText:hover {
  cursor: default;
}

section.area1 {
  background-color: white;
  width: 1110px;
  height: 600px;
}

.purple {
  font-size: 25px; 
  font-weight: 500; 
  color: #7B1FA2;
  margin-top: 57px;
  margin-bottom: 0;
  text-align: center;
}

.dark {
  margin: 0!important; 
  margin-block-start: 0px; 
  text-align: center;
}

.imgs {
  width: 100%;
  margin-top: 20px; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

#touch {
  max-height: 200px;
  margin: 5px; 
  width: 191px; 
  height: 200px; 
  padding-left: 22%;
}

#moto {
  max-height: 200px; 
  margin: 5px; 
  width: 200px; 
  height: 168px; 
  margin-top: 30px;
  padding-left: 22%;
}

#dish {
  max-height: 200px; 
  margin: 5px; 
  width: 200px; 
  height: 200px; 
  padding-left: 22%;
}

.touch {
  flex: 1;
}

.moto {
 flex: 1;
}

.dish {
  flex: 1;
}

.green {
  text-align: center; 
  color: #00A296; 
  justify-content: center; 
  padding-top: 10px;
  margin: 0px; 
  font-weight: bold
}

.black {
  font-size: 15px; 
  text-align: center; 
  margin: 0px;
}

.help-button {
  position: fixed;
  right: 2%;
  bottom: 1%;
}

.help-button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  background-color: #00000086;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal .login {
  background-color: #FFF;
  min-height: 400px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  padding: 25px 10px;
}

.modal #logoMail {
  margin: 10px;
  height: 24.875px;
  width: 35px;
}

.modal #logoSenha {
  margin: 10px;
  height: 30px;
  width: 25px;
}

.modal #email {
  font-size: 18px;
  height: 27px;
  width: 256px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.modal #senha {
  font-size: 18px;
  height: 27px;
  width: 256px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.modal #emailRegister {
  font-size: 18px;
  height: 27px;
  width: 256px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.modal #senhaRegister {
  font-size: 18px;
  height: 27px;
  width: 256px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.modal .login .field {
  display: flex;
  justify-content: center;  
  margin-top: 25px;
}

.modal .login .btnLogin {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 5vw;
  margin-top: 25px;
}

.modal .login .btnRegister {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 5vw;
  margin-top: 25px;
}

.modal .login .Close {
  text-align: right;
  margin-right: 5%;
}

.modal .login .Close span {
  cursor: pointer;
}

.LostPassword {
  color: #441C55;
  font-weight: 600;
  font-size: 15px;
}

.LostPassword span{
  cursor: pointer;
}

.formTitle {
  font-size: 30px;
}

#login-notfound,
#register-error {
  color: #FF0000;
}

@media (min-width: 768px) and (max-width: 1110px) {


  #main {
    margin-top: 40px;
  }

  .banner {
    position: relative;
    max-width: 768px;
    max-height: 298px;
    margin-top: 40px;
  }

  .containerText {
    width: 45%;
    position: relative;
    padding-left: 28%;
    padding-top: 2%;
  }

  .bannerButton {
    position: relative;
    width: 90%;
  }

  section.area1 {
    background-color: white;
    width: 768px;
    height: 1000px;
  }

  .imgs {
    flex-direction: column;
  }

  .touch {
    width: 365px;
  }
  
  .moto {
    width: 365px;
  }
  
  .dish {
    width: 365px;
  }

  .help-button {
    
    right: 5%;
    bottom: 3%;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  p {
    font-size: 16px;
  }

  .container-logo {
    display: flex;
    justify-content: center;
  }
  #main {
    margin: auto;
    max-width: 425px;
  }
  .banner {
    width: 100%;
    max-height: 298px;
    margin-top: 40px;
  }

  .containerText {
    width: 82%;
    padding-left: 10%;
    padding-top: 8%;
  }

  .bannerButton {
    
    width: 90%;
  }

  section.area1 {
    
    width: 100%;
    height: 1000px;
  }

  .imgs {
    flex-direction: column;
  }

  .touch {
    width: 365px;
  }
  
  .moto {
    width: 365px;
  }
  
  .dish {
    width: 365px;
  }

  .purple {
    margin-bottom: 10px;
  }

  .modal .login {
    width: 360px;
  }

  .modal #senhaRegister,
  .modal #emailRegister,
  .modal #senha,
  .modal #email {
    width: 50%;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 16px;
  }

  .empty {
    display: none;
  }

  .container-logo {
    justify-content: flex-end;
    align-items: center;
  }

  #logo {
    padding-top: 2px;
    width: 126px;
    height: 30px; 
    padding-right: 10px;
  }

  #main {
    margin-top: 20px;
    max-width: 425px;
  }
  .banner {
    position: relative;
    width: 100%;
    max-height: 298px;
    margin-top: 40px;
  }

  .containerText {
    width: 82%;
    position: relative;
    padding-left: 10%;
    padding-top: 8%;
  }

  .bannerButton {
    position: relative;
    width: 90%;
  }

  section.area1 {
    position: relative;
    width: 100%;
    height: 1000px;
  }

  .imgs {
    flex-direction: column;
  }

  .touch {
    width: 365px;
  }
  
  .moto {
    width: 365px;
  }
  
  .dish {
    width: 365px;
  }

  .purple {
    margin-bottom: 10px;
  }

  .modal .login {
    width: 300px;
  }
  
  .modal #senhaRegister,
  .modal #emailRegister,
  .modal #senha,
  .modal #email {
    width: 50%;
  }

}
/* Area2 */

#container-area2 {
  display: none; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 80px;
}

section.area2{
  background-color: white;
  width: 55%;
  height: 5000px;
}

.brand{
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}

span#timer {
  font-size: 30px;
  margin: auto;
  color: #7B1FA2 ;
}

form.area2-form{
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
}

input.area2-input{
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: rgb(223, 223, 223);
}

.item-data{
  color: whitesmoke;
  display: block;
  margin-top: 10px ;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  line-height: 2rem;
}

.container.initial .brand{
  font-size: 7rem;
}

.container.initial form {
  max-width: 800px;
}

.container.initial form input{
  padding: 10px;
  font-size: 3rem;
}

.search-result{
  padding-top: 50px;
  margin: auto;
  width: 60%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
}
.item{
  border-radius: 8px;
  background-color: #7b1fa2;
  padding: 15px;
  overflow: hidden;
}
.item img{
  width: 100%;
  height: 300px;
  border-radius: 4px ;
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result .title{
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.view-btn{
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self:flex-start;
}

.error {
  display: flex;
  font-size: 11px;
  color: #FF0000;
  padding: 4px;
}