body{margin: 0px; border: 0px; padding: 0px; box-sizing: border-box;}
#header {background-color: #7B1FA2; padding: 8px; display: flex; align-items: center; justify-content: center; height: 44px; width: 100vw;}
img{height: 45px; width: 193px}